@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Bundles.Reference(Url.Content("~/content/js/control"));
    Bundles.Reference(Url.Content("~/content/js/helloworld"));
}

<h2>Index</h2>
