@{
    ViewBag.Title = "Live examples";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
		<p>
			To see working examples of using KnockoutVE to create responsive UIs, choose from the menu
			on the left.
		</p>
    </div>
</section>
}